services: 
  db:
    image: mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: petcare
      MYSQL_USER: petcare
      MYSQL_PASSWORD: petcarepassword
    ports:
      - "3305:3306"
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    restart: unless-stopped
    environment:
      ADMINER_DEFAULT_SERVER: db
    ports:
      - 8081:8080

volumes:
  db_data: